* body {
  padding: 0;
  box-sizing: border-box;
background-image: url(./imagenes/ILUSION.gif);
background-size: 20%;
 
}
  
  /*PORTADA*/
  
 
 

  
  
  
.portada{
  width: 100%;
  margin-top: -4%;
}
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 23%;
      
  }
  .cr-time > span {
      font-size: 19px;
      font-weight: bold;
      color: #ffffff;
      
  }
  .cr-desc {
      color: #ffffff;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 10px;
      font-weight: 700;
      
  }
  .cr-block {
      background: #e3e3e347;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  
   }
   .play{
  
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
   }
   .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #fffffff7;
    margin-top: -5%;
    
}
.fraseinicio{
  font-size: 29px;
  text-align: center;
 margin-top: 2%;
 color: #ffffff;
 font-family: 'Dancing Script', cursive; 
}
.tituloh1{
  color: #ffffff;
  font-family: "Style Script", cursive;
  font-size: 26px;
  text-align: center;
 margin-top: 16%;

 }
.almanaque{
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
 
}
.carousel-inner img{
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
}
.castillo{
  width: 90%;
  margin-left: 5%;
  margin-top: 28%;
 
}
.fondo{
  width: 100%;
}
.arrow span {
  margin-top: -25%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgba(234, 234, 234, 0.567);
  border-right: 5px solid #ffffffb8;
  transform: rotate(45deg);
  margin-left: 48%;
  animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
  animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
  animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
  }







.parrafo2{
  text-align: center;
  font-family: "Style Script", cursive;
  font-size: 24px;
  color: #ffffff;
  margin-top: 14%;
  font-weight: 580;
   
}

.whasap{
  width: 25%;
  margin-left: 38%;
}
.abru{
  width: 20%;
  margin-left: -49%;
}
.espero{
  width: 35%;
  margin-left: 36%;
  margin-top: 10%;
}


.parrafo3{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 29px;
  color: #ffffff;
  margin-top: 14%;
  font-weight: 580;
}
.parrafo4{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 22px;
   color: #ffffff;
   font-weight: 800;
   margin-top: 15%;
   
}
.linea1{
  color: #ffffff;
width: 45%;
margin-left: 29%;
margin-top: -8%;
}
.copas{
  width: 15%;
  margin-left: 42%;
  margin-top: -3%;
}
.linea3{
  color: #ffffff;
width: 45%;
margin-left: 29%;
margin-top: 2%;
}
.fiesta{
  width: 35%;
  margin-left: 34%;
  margin-top: 16%;
}
.regalo{
  width: 65%;
  margin-left: 18%;
  margin-top: 10%;
}
.parrafoDe{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 17px;
   color: #ffffff;
   font-weight: 500;
   background-color: #424242;
  
   
}

.primary {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #505050;
  margin-left: 36%;
  margin-top: -5%;
  font-family: 'Julius Sans One', sans-serif;
  background-image: url(./imagenes/5af1f7230024abf57e8020427471018e.gif);
  background-size: 100%;
  font-size: 20px;
}
.estrella{
  width: 50%;
  margin-left: 30%;
  margin-top: -20%;
}
.estrellados{
  width: 50%;
  margin-left: 26%;
  margin-top: -4%;
}
.css-button-arrow--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #505050;
  margin-left: 33%;
  margin-top: -5%;
  font-family: 'Julius Sans One', sans-serif;
  background-image: url(./imagenes/5af1f7230024abf57e8020427471018e.gif);
  background-size: 100%;
  font-size: 20px;
}

.cajacarusel img{
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  
}

.css-button-arrow--sand:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.css-button-arrow--sand:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--sand:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.parrafo5{
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  margin-top: -2%;
  text-align: center;
 
}
.parrafo7{
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  margin-top: -2%;
  text-align: center;
 
}
.ropa{
  width: 55%;
  margin-left: 24%;
  margin-top: 15%;
}
.venis{
  width: 30%;
  margin-left: 35%;
  margin-top: 15%;
}
  
   
  

.parrafo6{
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  margin-top: -2%;
  text-align: center;
   
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 58px;
  aspect-ratio: 1;
  position:relative;
  margin-left: 67%;
  margin-top: -28%;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff65;    
  box-shadow: 0 0 0 50px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.loader:after {
  animation: l5 1s infinite;
  transform: perspective(300px) translateZ(0px)
}
@keyframes l5 {
  to {transform:perspective(300px) translateZ(150px);opacity:0}
}

.parrafo8{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 20px;
   color: #ffffff;
   font-weight: 800;
 margin-top: 14%;
}
.parrafo9{
  text-align: center;
  font-family: "Style Script", cursive;
  font-size: 24px;
  color: #ffffff;
  margin-top: 1%;
  font-weight: 580;
   
}

.parrafo10{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 14px;
   color: #ffffff;
   font-weight: 600;
 margin-top: 25%;
 background-color: #474747;
 background-image: url(./imagenes/papelitos.gif);
 background-size: 30%;
}


.wed{
 
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
     font-size: 19px;
     color: #ffffff;
     font-weight: 800;
margin-top: 5%;
}

.codigo{
 
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 19px;
   color: #ffffff;
   font-weight: 800;
margin-top: 5%;
}
.percha{
  width: 25%;
  margin-left: 39%;
}
.camara{
  width: 15%;
  margin-left: 43%;
  margin-top: -3%;
}

.album{
  width: 16%;
  margin-left: 42%;
  margin-top: 5%;
}
.galeria{
  width: 8%;
  margin-left: 46%;
  margin-top: 2%;
}

.lucia{
  width: 25%;
  margin-left: 36%;
  margin-top: -3%;
}

.teespero{
  font-family: 'Dancing Script', cursive; 
  font-size: 30px;
  color: #ffffff;
  font-weight: 550;
  margin-top: 20%;
  text-align: center;
 
}

.ilucion{
  background-image: url(./imagenes/ILUCION.gif);
  background-size: 100%;
   }

.click{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
   font-size: 15px;
   color: #ffffff;
   font-weight: 800;
margin-top: 5%;
text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
}


.tecla {
margin-top: -49%;
 margin-left: 50%;
}


.box__copyright {
  max-width: 1200px;
  padding: 18px 7px;
  text-align: center;
  background-color: #ffffff;
  font-size: 100%;
}


.box__copyright p {
  margin-top: -10px;
  color: #7e2d6b;
  font-size: 12px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #b8a551;
}
.logo{
  width: 12%;
  margin-left: 70%;
  margin-top: -13%;

}


 